/* ---------- ------------ ---------- */
/* ---------- Color Scheme ---------- */
/* ---------- ------------ ---------- */

/* Setting up global variables (done with :root) for the colors used in the dashboard */
:root {
    --background: #0F2537;
    --element: #4E5D6C;
    --text: #EBEBEB;
    --highlight: #02D2D5;
}

/* ---------- --------------- ---------- */
/* ---------- Default Styling ---------- */
/* ---------- --------------- ---------- */


/* all columns  */
.col {
    margin-top: 10px;
}

/* all buttons */
.btn {
    color: var(--text);
}

/* ---------- -------------------- ---------- */
/* ---------- Styling Button Group ---------- */
/* ---------- -------------------- ---------- */

/* RadioItems styling, changing RadioItems to act as a button group, changes their padding and aligns them next to each other */
/* Source: https://dash-bootstrap-components.opensource.faculty.ai/docs/components/button_group/ */

.radio-group .form-check {
    padding-left: 0;
}

.radio-group .btn-group>.form-check:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group>.form-check:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

/* ---------- ----------------- ---------- */
/* ---------- Styling Dropdowns ---------- */
/* ---------- ----------------- ---------- */

/* Default style of all dropdowns */
.Select,
.Select div,
.Select input,
.Select span {
    background: var(--element);
    color: var(--text);
}

/* Default style for current selected option of all dropdowns, note that !import has to be used for it to apply */
.Select-value-label {
    color: var(--text) !important;
}

/* Default style of hovered row of all dropdowns, not that !important has to be used for it to apply */
.VirtualizedSelectFocusedOption {
    background-color: var(--background) !important;
    color: var(--highlight) !important;
}

/* ---------- --------- ---------- */
/* ---------- Banner ID ---------- */
/* ---------- --------- ---------- */

#banner {
    margin-top: 10px;
}

#banner h1 {
    padding-top: 10px;
    display: inline-block;
}

#banner Img {
    float: right;
    margin-right: 2px;
    height: 75px;
}

/* ---------- --------- ---------- */
/* ---------- Inputs ID ---------- */
/* ---------- --------- ---------- */

/* display: flex; makes elements align side-by-side since the default flex direction is row */
/* this can be changed to flex direction col to instead put elements below each other */
/* this is used below in styling for smaller screens */
#buttons {
    display: flex;
}

#log-buttons {
    /* spacing between the two button groups */
    padding-right: 25px;
}

#amount-results-slider {
    display: flex;
    margin-top: 7px;
    /* This property will expand the last item to the remaining width */
    flex-grow: 1;
}

#year-slider-row {
    display: flex;
}

/* ---------- ------------- ---------- */
/* ---------- Season Picker ---------- */
/* ---------- ------------- ---------- */

#season-picker {
    display: flex;
    margin-top: 5px;
}

#season-picker input {
    margin-left: 0px;
}

#season-picker label {
    margin-left: 5px;
}

/* ---------- ----- ---------- */
/* ---------- Other ---------- */
/* ---------- ----- ---------- */

#column-three {
    display: flex;
}

/* ---------- ----------------------- ---------- */
/* ---------- Styling Smaller Screens ---------- */
/* ---------- ----------------------- ---------- */

@media (max-width: 1200px) {

    /* When screen width is <= 1200px  */
    /* Flexes text elements of button input row down */

    #column-three {
        flex-direction: column;
    }

    #amount-results-slider {
        margin-top: -10px;
    }

    #season-picker label {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {

    /* When screen width is <= 767px */
    /* Moves banner image to left side */
    /* Flexes columns of button input row down */

    #banner Img {
        float: left;
    }

    .col-3-wide {
        display: flex;
        flex-direction: column;
    }

    #season-picker label {
        padding-left: 5px;
    }
}

@media (orientation: landscape) and (max-width: 800px) {
    /* can add styling for smaller devices in landscape mode here */
}